# **Workshop: Introduksjon til dataflyt og transformasjon**

**Du vil l√¶re:**
- Helt overordnet hva dataflyt og transformasjoner er, hva det inneb√¶rer og hvordan det utf√∏res i praksis
- Litt om Google Cloud Storage og Google BigQuery
- √Ö laste inn, hente ut og jobbe med data fra Google BigQuery
- Gj√∏re enkle transformasjoner ved hjelp av datamanipuleringsverkt√∏y
- Lage et nytt og rikere datasett med data fra flere kilder

üí° Oppgave 1-4 er utforskende i GCP og kan timeboxes til ca. 10 minutter.


# **Relevante GCP-komponenter for workshopen**
## Google Cloud Storage

Google Cloud Storage (GCS) er et filomr√•de hvor vi kan lagre filer p√• ulike formater, med b√•de strukturerte og ustrukturerte data. GCS er et fint landingspunkt for data, slik at du kan jobbe uavhengig av systemene dataene stammer fra (f.eks eksterne API-er).

Vi bruker ofte begrepet "storage bucket" for en logisk oppdeling av et filomr√•de, tilsvarende som en filmappe p√• din maskin.

Data i en storage bucket er som regel ikke klargjort for analyseform√•l. Vi √∏nsker derfor √• prosessere og flytte den til et annet verkt√∏y. Et slikt verkt√∏y kan v√¶re Google BigQuery, som er en database tilpasset analyse. Dette kan videre kobles opp mot visualiserings- og modelleringsverkt√∏y som Colab-notebooks.

## Google BigQuery

BigQuery er en SQL-basert database som er optimalisert for analyse. I motsetning til tradisjonelle SQL-databaser er BigQuery kolonnebasert istedenfor radbasert. Dette gj√∏r den optimalisert til √• regne ut aggregerte tall. BigQuery takler tabeller med et h√∏yt antall kolonner sv√¶rt godt.


# **Bolk 1: Bli kjent med datasettene**

## **Oppgave 1: Bli kjent med Google Cloud Storage** ‚òÅÔ∏è

G√• til [Google Cloud Console](https://console.cloud.google.com), logg inn med e-posten din og velg prosjekt "data-intro" oppe i venstre hj√∏rne.

I Google Cloud Console (GUI) for prosjektet (data-intro), finn Google Cloud Storage. Du kan enten finne GCS via menyen eller s√∏ke etter den i s√∏kefeltet.

I prosjektet finner du en bucket med to ulike datasett. Vi skal inspisere metadataen til disse filene.

a) Hvilken filtype er de?
  
  
b) Hvor store er filene?

In [1]:
# TODO
# Svar a: csv
# Svar b: 1GB

## **Oppgave 2: Importer dataen til BigQuery** üîê

For √• se n√¶rmere p√• innholdet i datasettene √∏nsker vi √• flytte de til BigQuery. Gj√∏r f√∏lgende i [Google Cloud Console](https://console.cloud.google.com):

1. Finn BigQuery i menyen
2. Velg BigQuery-prosjektet "Data intro" og deretter marker datasettet bysykkel_main
3. I menylinjen oppe til h√∏yre, velg "Create table".
4. Under "Source" kan du velge datakilden din. Vi √∏nsker √• velge bysykkeldatasettet fra Storage Bucket. Filformatet fant du i oppgave 1.
5. Under "Destination" kan du kalle den nye tabellen din `bysykkel_(gruppenavn)`.
6. La BigQuery definere skjema for deg, og behold ellers standard-innstillingene.
7. Trykk p√• "Create Table"

N√• starter en jobb med √• laste inn datasettet fra GCS til BigQuery og vil ta ca. 30 sekunder.

## **Oppgave 3: Bli kjent med bysykkel-datasettet** üö≤

N√•r vi markerer tabellen i BigQuery som vi laget i forrige oppgave ser vi en rekke metadata, samt en preview-funksjon for √• unders√∏ke radene i datasettet v√•rt.

Hva finner du ut om skjema (datatypene) og innholdet?




## **Oppgave 4: Bli kjent med v√¶rdatasettet** üå¶
Vi har allerede lastet inn v√¶rdatasettet inn i BigQuery (`v√¶rdata_oslo`).

Hva finner du ut om skjema (datatypene) og innholdet for dette datasettet?

# **Bolk 2: Vasking av data**

N√• som vi har flyttet datasettene til et passende sted og blitt litt kjent med tabellenes skjema skal vi pr√∏ve √• sl√• disse sammen!

**Autentisering**

Det f√∏rste vi m√• gj√∏re er √• autentisere Colab-notebooken mot BigQuery. Koden under vil generere et popup-vindu der du m√• godkjenne dette.

In [ ]:
# Authenticate your Google Account
# Doing so means you have access to various
# resources connected to your account, such
# as BigQuery tables, Storage buckets etc.
from google.colab import auth
auth.authenticate_user()

**BigQuery-klienten**

N√• som vi er autentisert, kan vi bruke BigQuery-biblioteket. Kodesnutten under kobler oss til BigQuery-klienten og tar samtidig i bruk `magics`-operatoren som simpelthen lar oss hente data fra en tabell.

Kj√∏r kodesnutten under.

In [ ]:
%load_ext google.cloud.bigquery
from google.cloud.bigquery import magics
magics.context.project = 'data-intro'

**Pandas DataFrames**

Operatoren over skriver resultatet fra BigQuery ut som en _DataFrame_ fra Pandas-biblioteket. DataFrames er sv√¶rt nyttige n√•r vi jobber med tabul√¶r data, b√•de for datautforskning og -manipulasjon.

Vi kaller dataframesene hhv. `df_bysykkel` og `df_weather`. Kj√∏r kodeblokkene under (husk √• bytte tabell-referanse):

In [ ]:
%%bigquery df_bysykkel
SELECT * FROM `data-intro.bysykkel_main.bysykkel_august` # Bytt ut med ditt eget tabell-navn

In [ ]:
%%bigquery df_weather
SELECT * FROM `data-intro.bysykkel_main.v√¶rdata_oslo`

## **Oppgave 5: Lage et utvidet datasett** üë©üèª‚Äçüíª
Vi √∏nsker √• sl√• sammen de to datasettene slik at vi kan gj√∏re analyse p√• tvers av disse. F√∏r vi gj√∏r det m√• vi finne en felles kolonne for begge datasett.

P√• en DataFrame-instans, `df`, har vi en rekke nyttige metode og felter, f.eks:

```python
df.shape                  # Dimensjon
df.info()                 # Oppsummering av st√∏rrelse og innhold
df.describe()             # Grunnleggende statistiske egenskaper
df.head()                 # Lister de f√∏rste radene i datasettet
df.tail()                 # Lister de siste radene i datasettet
df["kolonnenavn"]         # Aksessering av spesifikk kolonne
df["kolonnenavn"].iloc[n] # Aksessere rad n i spesifikk kolonne
```

Vi m√• finne en kolonne med fellesdata for √• kunne sl√• sammen tabellene. Bruk en (eller flere) av metodene over for √• inspisere innholdet i de to tabellene.  

S√• du noen fellesnevnere da du unders√∏kte innholdet i tabellene?

In [ ]:
# DITT SVAR HER
df_bysykkel['started_at']
df_weather['date']

Uten √• r√∏pe for mye er det flere gode kolonne-kandidater i `df_bysykkel` som kan brukes p√• √©n kolonne i `df_weather`. Likevel er det ikke mulig √• bruke noen av de rett ut av boksen. Klarer du se hvorfor?

In [2]:
# DITT SVAR HER
# Ulikt format p√• dato, df_bysykkel er df_weather

## **Oppgave 6: Rydde opp i datasettene** üßπ
Transformasjoner er en stor og viktig prosess n√•r vi jobber med data. Ofte er datasettene vi har til r√•dighet ikke p√• det formatet vi √∏nsker √• ha de p√•. √Ö transformere data betyr √• gj√∏re endringer, for eksempel:

- sl√• sammen datasett
- endre p√• datatyper
- fjerne duplikater
- gj√∏re utregninger med basis i andre kolonner
- fjerne potensielle "outliers" som kan √∏delegge grunnlaget v√•rt for analyse

> Prosessen over kalles ofte for √• "vaske" data üßº

Vi m√• f√• dato-kolonnene til √• v√¶re p√• samme format. En m√•te vi kan gj√∏re dette p√• er √• fjerne klokkeslettet og kun bruke dato-delen av `started_at`. Ulempen med dette er at vi da mister informasjon vi kanskje √∏nsker √• bruke videre i analysedelen.

Vi l√∏ser dette problemet med √• lage en hjelpekolonne, alts√• en ny midlertidg kolonne som kun brukes n√•r vi sl√•r sammen datasettene

### **Oppgave 6.1**

Lag en ny kolonne i `df_bysykkel`, `trip_date`, som kun inneholder datoen fra kolonnen `started_at`. Det kan ta litt tid √• oppdatere de 5.7 millioner radene vi har i tabellen.

> **Hint**: Pandas har en funksjon [`to_datetime`](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html) som lar deg tilpasse tidspunkter, samt en funksjon [`dt.strftime`](https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.strftime.html) som lar deg formatere dato til et √∏nsket format üêº

In [ ]:
import pandas as pd
# DIN KODE HER
df_bysykkel['trip_date'] = pd.to_datetime(df_bysykkel['started_at']).dt.strftime['%Y-%m-%d']
df_bysykkel.head()
print(df_bysykkel.head())

In [ ]:
#@title L√∏sningsforslag
import pandas as pd
df_bysykkel["trip_date"] = pd.to_datetime(df_bysykkel["started_at"]).dt.strftime("%Y-%m-%d")
df_bysykkel.head()

### **Oppgave 6.2**
Fors√∏k √• sl√• sammen de to datasettene med hjelpekolonnen `trip_date` ved √• bruke Pandas' [merge](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html)-funksjon. Fungerer det √• sl√• sammen n√•? Hvordan ser datasettet ut?

> **Hint:** Du kan sjekke hvilke datatyper dataframen din inneholder ved √• bruke Pandas sitt `dtypes`-attributt, f.eks `df_bysykkel.dtypes`

In [4]:
# DIN KODE HER
df_merged = df_bysykkel.merge(df_weather, how='outer', left_on='trip_date', right_on='date')

NameError: ignored

In [5]:
#@title L√∏sningsforslag
"""
Det vil i prinsippet fungere, men det er likevel ikke riktig fordi kolonnene har
ulike datatyper - started_at er av typen datetime64 og trip_date er av typen object
"""

'\nDet vil i prinsippet fungere, men det er likevel ikke riktig fordi kolonnene har\nulike datatyper - started_at er av typen datetime64 og trip_date er av typen object\n'

### **Oppgave 6.3**
Gj√∏r n√∏dvendige endringer i kolonnen `trip_date` i bysykkeldatasettet og `date` i v√¶rdatasettet for √• kunne sl√• sammen.

In [ ]:
# DIN KODE HER
import pandas as pd

df_bysykkel['trip_date'] = pd.to_datetime(df_bysykkel['trip_date'])
df_weather['date'] = pd.to_datetime(weather['date'])

In [ ]:
#@title L√∏sningsforslag

# Vi setter begge kolonnen til √• v√¶re av type datetime (datotid).

df_bysykkel["trip_date"] = pd.to_datetime(df_bysykkel["trip_date"])
df_weather["date"] = pd.to_datetime(df_weather["date"])

### **Oppgave 6.4**
N√• skal det fungere √• sl√• sammen datasettene! üéâ Vi √∏nsker √• supplere hver rad av bysykkeldatasettet med v√¶rdata fra den aktuelle dagen. Skriv kode under som oppn√•r dette.

> üí° Rekkef√∏lgen og type join (left, right, outer etc.) har noe √• si n√•r datasettene sl√•s sammen. Tommelfingerregelen er at man alltid skal starte med den st√∏rste tabellen ved en merge av ytelsesgrunner. Forskjellen p√• type joins kan man lese mer om [her](https://stackoverflow.com/questions/5706437/whats-the-difference-between-inner-join-left-join-right-join-and-full-join).

In [ ]:
# DIN KODE HER

In [ ]:
#@title L√∏sningsforslag
df_merged = df_bysykkel.merge(df_weather, left_on="trip_date", right_on="date", how="left")
df_merged.head()

### **Oppgave 6.5**
Om vi sjekker typene til kolonnene med v√¶rdata (ved bruk av `df_merged.dtypes` igjen) ser vi at verdiene i disse kolonnene er strenger. Det gj√∏r det ikke mulig for oss √• aggregere verdiene, s√• vi er n√∏dt til √• f√• de over p√• tallformat.

Kodesnutten under fors√∏ker √• gj√∏re om verdiene p√• temperatur og nedb√∏rsmengde til typen `float`. Hvorfor fungerer det ikke √• gj√∏re om kolonnen direkte?

In [ ]:
df_merged["mean_temperature"] = df_merged["mean_temperature"].astype('float')
df_merged["precipitation_amount"] = df_merged["precipitation_amount"].astype('float')

In [ ]:
#@title L√∏sningsforslag
"""
Kolonnen ser tilsynelatende ut til √• kun best√• av tall. Hvis vi derimot inspiserer
verdiene n√¶rmere, ser vi at noen ganger forekommer strengen "NULL" som ikke er et tall.
Pandas f√•r derfor ikke til √• gj√∏re om datatypen f√∏r vi gj√∏r noe med dette.
"""

### **Oppgave 6.6**
Endre datatypen p√• nedb√∏rskolonnen og temperaturkolonnen slik at det blir desimaltall.

> **Hint**: Vi er n√∏dt til √• fjerne `NULL`-verdiene vi oppdaget i forrige oppgave. Bruk `replace`-funksjonen til dette ved √• sette en tom verdi, som i Python-verdenen heter `None`. Kan du tenke deg hvorfor vi bruker en tom verdi istedenfor eksempelvis 0 her?

In [ ]:
# DIN KODE HER

In [ ]:
#@title L√∏sningsforslag
df_merged["mean_temperature"] = df_merged["mean_temperature"].replace({'NULL': None}).astype('float')
df_merged["precipitation_amount"] = df_merged["precipitation_amount"].replace({'NULL': None}).astype('float')

"""
Vi kunne teknisk sett gjort om NULL til 0, men dette ville f√•tt betydning for
statistiske verdier som gjennomsnitt og lignende. Hvordan man h√•ndterer NULL-verdier
avhenger av bruksomr√•det og krever ofte dypere forst√•else av domenet man jobber med.
"""

### **Oppgave 6.7**

Rydd opp ved √• fjerne hjelpekolonnen fra `df_merged`

> **Hint**: `drop`-funksjonen kan komme godt med her üóë

In [ ]:
# DIN KODE HER

In [ ]:
#@title L√∏sningsforslag
df_merged = df_merged.drop(columns="trip_date")
df_merged.head()



Vi har n√• et utvidet datasett! üéâü•Çüéä


Vanligvis ville vi ha skrevet datasettet tilbake til BigQuery, men det gj√∏r vi ikke i denne workshopen (det tar lang tid, vi har mye dataüò¥)

Pandas har en ganske snedig funksjon som kan gj√∏re dette!

```df_merged.to_gbq("bysykkel_main.bysykkel_med_v√¶rdata", project_id="data-intro")```

N√•r vi skriver til BigQuery, vil datatypene i dataframen f√∏lge med og sette riktig skjema i BigQuery