# **Workshop: Introduksjon til dataflyt og transformasjon**

**Du vil lÃ¦re:**
- Helt overordnet hva dataflyt og transformasjoner er, hva det innebÃ¦rer og hvordan det utfÃ¸res i praksis
- Litt om Google Cloud Storage og Google BigQuery
- Ã… laste inn, hente ut og jobbe med data fra Google BigQuery
- GjÃ¸re enkle transformasjoner ved hjelp av datamanipuleringsverktÃ¸y
- Lage et nytt og rikere datasett med data fra flere kilder

ðŸ’¡ Oppgave 1-4 er utforskende i GCP og kan timeboxes til ca. 10 minutter.


# **Relevante GCP-komponenter for workshopen**
## Google Cloud Storage

Google Cloud Storage (GCS) er et filomrÃ¥de hvor vi kan lagre filer pÃ¥ ulike formater, med bÃ¥de strukturerte og ustrukturerte data. GCS er et fint landingspunkt for data, slik at du kan jobbe uavhengig av systemene dataene stammer fra (f.eks eksterne API-er).

Vi bruker ofte begrepet "storage bucket" for en logisk oppdeling av et filomrÃ¥de, tilsvarende som en filmappe pÃ¥ din maskin.

Data i en storage bucket er som regel ikke klargjort for analyseformÃ¥l. Vi Ã¸nsker derfor Ã¥ prosessere og flytte den til et annet verktÃ¸y. Et slikt verktÃ¸y kan vÃ¦re Google BigQuery, som er en database tilpasset analyse. Dette kan videre kobles opp mot visualiserings- og modelleringsverktÃ¸y som Colab-notebooks.

## Google BigQuery

BigQuery er en SQL-basert database som er optimalisert for analyse. I motsetning til tradisjonelle SQL-databaser er BigQuery kolonnebasert istedenfor radbasert. Dette gjÃ¸r den optimalisert til Ã¥ regne ut aggregerte tall. BigQuery takler tabeller med et hÃ¸yt antall kolonner svÃ¦rt godt.


# **Bolk 1: Bli kjent med datasettene**

## **Oppgave 1: Bli kjent med Google Cloud Storage** â˜ï¸

GÃ¥ til [Google Cloud Console](https://console.cloud.google.com), logg inn med e-posten din og velg prosjekt "data-intro" oppe i venstre hjÃ¸rne.

I Google Cloud Console (GUI) for prosjektet (data-intro), finn Google Cloud Storage. Du kan enten finne GCS via menyen eller sÃ¸ke etter den i sÃ¸kefeltet.

I prosjektet finner du en bucket med to ulike datasett. Vi skal inspisere metadataen til disse filene.

a) Hvilken filtype er de?
  
  
b) Hvor store er filene?

In [1]:
# TODO
# Svar a: csv
# Svar b: 1GB

## **Oppgave 2: Importer dataen til BigQuery** ðŸ”

For Ã¥ se nÃ¦rmere pÃ¥ innholdet i datasettene Ã¸nsker vi Ã¥ flytte de til BigQuery. GjÃ¸r fÃ¸lgende i [Google Cloud Console](https://console.cloud.google.com):

1. Finn BigQuery i menyen
2. Velg BigQuery-prosjektet "Data intro" og deretter marker datasettet bysykkel_main
3. I menylinjen oppe til hÃ¸yre, velg "Create table".
4. Under "Source" kan du velge datakilden din. Vi Ã¸nsker Ã¥ velge bysykkeldatasettet fra Storage Bucket. Filformatet fant du i oppgave 1.
5. Under "Destination" kan du kalle den nye tabellen din `bysykkel_(gruppenavn)`.
6. La BigQuery definere skjema for deg, og behold ellers standard-innstillingene.
7. Trykk pÃ¥ "Create Table"

NÃ¥ starter en jobb med Ã¥ laste inn datasettet fra GCS til BigQuery og vil ta ca. 30 sekunder.

## **Oppgave 3: Bli kjent med bysykkel-datasettet** ðŸš²

NÃ¥r vi markerer tabellen i BigQuery som vi laget i forrige oppgave ser vi en rekke metadata, samt en preview-funksjon for Ã¥ undersÃ¸ke radene i datasettet vÃ¥rt.

Hva finner du ut om skjema (datatypene) og innholdet?




## **Oppgave 4: Bli kjent med vÃ¦rdatasettet** ðŸŒ¦
Vi har allerede lastet inn vÃ¦rdatasettet inn i BigQuery (`vÃ¦rdata_oslo`).

Hva finner du ut om skjema (datatypene) og innholdet for dette datasettet?

# **Bolk 2: Vasking av data**

NÃ¥ som vi har flyttet datasettene til et passende sted og blitt litt kjent med tabellenes skjema skal vi prÃ¸ve Ã¥ slÃ¥ disse sammen!

**Autentisering**

Det fÃ¸rste vi mÃ¥ gjÃ¸re er Ã¥ autentisere Colab-notebooken mot BigQuery. Koden under vil generere et popup-vindu der du mÃ¥ godkjenne dette.

In [ ]:
# Authenticate your Google Account
# Doing so means you have access to various
# resources connected to your account, such
# as BigQuery tables, Storage buckets etc.
from google.colab import auth
auth.authenticate_user()

**BigQuery-klienten**

NÃ¥ som vi er autentisert, kan vi bruke BigQuery-biblioteket. Kodesnutten under kobler oss til BigQuery-klienten og tar samtidig i bruk `magics`-operatoren som simpelthen lar oss hente data fra en tabell.

KjÃ¸r kodesnutten under.

In [ ]:
%load_ext google.cloud.bigquery
from google.cloud.bigquery import magics
magics.context.project = 'data-intro'

**Pandas DataFrames**

Operatoren over skriver resultatet fra BigQuery ut som en _DataFrame_ fra Pandas-biblioteket. DataFrames er svÃ¦rt nyttige nÃ¥r vi jobber med tabulÃ¦r data, bÃ¥de for datautforskning og -manipulasjon.

Vi kaller dataframesene hhv. `df_bysykkel` og `df_weather`. KjÃ¸r kodeblokkene under (husk Ã¥ bytte tabell-referanse):

In [ ]:
%%bigquery df_bysykkel
SELECT * FROM `data-intro.bysykkel_main.bysykkel_august` # Bytt ut med ditt eget tabell-navn

In [ ]:
%%bigquery df_weather
SELECT * FROM `data-intro.bysykkel_main.vÃ¦rdata_oslo`

## **Oppgave 5: Lage et utvidet datasett** ðŸ‘©ðŸ»â€ðŸ’»
Vi Ã¸nsker Ã¥ slÃ¥ sammen de to datasettene slik at vi kan gjÃ¸re analyse pÃ¥ tvers av disse. FÃ¸r vi gjÃ¸r det mÃ¥ vi finne en felles kolonne for begge datasett.

PÃ¥ en DataFrame-instans, `df`, har vi en rekke nyttige metode og felter, f.eks:

```python
df.shape                  # Dimensjon
df.info()                 # Oppsummering av stÃ¸rrelse og innhold
df.describe()             # Grunnleggende statistiske egenskaper
df.head()                 # Lister de fÃ¸rste radene i datasettet
df.tail()                 # Lister de siste radene i datasettet
df["kolonnenavn"]         # Aksessering av spesifikk kolonne
df["kolonnenavn"].iloc[n] # Aksessere rad n i spesifikk kolonne
```

Vi mÃ¥ finne en kolonne med fellesdata for Ã¥ kunne slÃ¥ sammen tabellene. Bruk en (eller flere) av metodene over for Ã¥ inspisere innholdet i de to tabellene.  

SÃ¥ du noen fellesnevnere da du undersÃ¸kte innholdet i tabellene?

In [ ]:
# DITT SVAR HER
df_bysykkel['started_at']
df_weather['date']

Uten Ã¥ rÃ¸pe for mye er det flere gode kolonne-kandidater i `df_bysykkel` som kan brukes pÃ¥ Ã©n kolonne i `df_weather`. Likevel er det ikke mulig Ã¥ bruke noen av de rett ut av boksen. Klarer du se hvorfor?

In [2]:
# DITT SVAR HER
# Ulikt format pÃ¥ dato, df_bysykkel er df_weather

## **Oppgave 6: Rydde opp i datasettene** ðŸ§¹
Transformasjoner er en stor og viktig prosess nÃ¥r vi jobber med data. Ofte er datasettene vi har til rÃ¥dighet ikke pÃ¥ det formatet vi Ã¸nsker Ã¥ ha de pÃ¥. Ã… transformere data betyr Ã¥ gjÃ¸re endringer, for eksempel:

- slÃ¥ sammen datasett
- endre pÃ¥ datatyper
- fjerne duplikater
- gjÃ¸re utregninger med basis i andre kolonner
- fjerne potensielle "outliers" som kan Ã¸delegge grunnlaget vÃ¥rt for analyse

> Prosessen over kalles ofte for Ã¥ "vaske" data ðŸ§¼

Vi mÃ¥ fÃ¥ dato-kolonnene til Ã¥ vÃ¦re pÃ¥ samme format. En mÃ¥te vi kan gjÃ¸re dette pÃ¥ er Ã¥ fjerne klokkeslettet og kun bruke dato-delen av `started_at`. Ulempen med dette er at vi da mister informasjon vi kanskje Ã¸nsker Ã¥ bruke videre i analysedelen.

Vi lÃ¸ser dette problemet med Ã¥ lage en hjelpekolonne, altsÃ¥ en ny midlertidg kolonne som kun brukes nÃ¥r vi slÃ¥r sammen datasettene

### **Oppgave 6.1**

Lag en ny kolonne i `df_bysykkel`, `trip_date`, som kun inneholder datoen fra kolonnen `started_at`. Det kan ta litt tid Ã¥ oppdatere de 5.7 millioner radene vi har i tabellen.

> **Hint**: Pandas har en funksjon [`to_datetime`](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html) som lar deg tilpasse tidspunkter, samt en funksjon [`dt.strftime`](https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.strftime.html) som lar deg formatere dato til et Ã¸nsket format ðŸ¼

In [ ]:
import pandas as pd
# DIN KODE HER
df_bysykkel['trip_date'] = pd.to_datetime(df_bysykkel['started_at']).dt.strftime['%Y-%m-%d']
df_bysykkel.head()
print(df_bysykkel.head())

In [ ]:
#@title LÃ¸sningsforslag
import pandas as pd
df_bysykkel["trip_date"] = pd.to_datetime(df_bysykkel["started_at"]).dt.strftime("%Y-%m-%d")
df_bysykkel.head()

### **Oppgave 6.2**
ForsÃ¸k Ã¥ slÃ¥ sammen de to datasettene med hjelpekolonnen `trip_date` ved Ã¥ bruke Pandas' [merge](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html)-funksjon. Fungerer det Ã¥ slÃ¥ sammen nÃ¥? Hvordan ser datasettet ut?

> **Hint:** Du kan sjekke hvilke datatyper dataframen din inneholder ved Ã¥ bruke Pandas sitt `dtypes`-attributt, f.eks `df_bysykkel.dtypes`

In [4]:
# DIN KODE HER
df_merged = df_bysykkel.merge(df_weather, how='outer', left_on='trip_date', right_on='date')

NameError: ignored

In [5]:
#@title LÃ¸sningsforslag
"""
Det vil i prinsippet fungere, men det er likevel ikke riktig fordi kolonnene har
ulike datatyper - started_at er av typen datetime64 og trip_date er av typen object
"""

'\nDet vil i prinsippet fungere, men det er likevel ikke riktig fordi kolonnene har\nulike datatyper - started_at er av typen datetime64 og trip_date er av typen object\n'

### **Oppgave 6.3**
GjÃ¸r nÃ¸dvendige endringer i kolonnen `trip_date` i bysykkeldatasettet og `date` i vÃ¦rdatasettet for Ã¥ kunne slÃ¥ sammen.

In [ ]:
# DIN KODE HER
import pandas as pd

df_bysykkel['trip_date'] = pd.to_datetime(df_bysykkel['trip_date'])
df_weather['date'] = pd.to_datetime(weather['date'])

In [ ]:
#@title LÃ¸sningsforslag

# Vi setter begge kolonnen til Ã¥ vÃ¦re av type datetime (datotid).

df_bysykkel["trip_date"] = pd.to_datetime(df_bysykkel["trip_date"])
df_weather["date"] = pd.to_datetime(df_weather["date"])

### **Oppgave 6.4**
NÃ¥ skal det fungere Ã¥ slÃ¥ sammen datasettene! ðŸŽ‰ Vi Ã¸nsker Ã¥ supplere hver rad av bysykkeldatasettet med vÃ¦rdata fra den aktuelle dagen. Skriv kode under som oppnÃ¥r dette.

> ðŸ’¡ RekkefÃ¸lgen og type join (left, right, outer etc.) har noe Ã¥ si nÃ¥r datasettene slÃ¥s sammen. Tommelfingerregelen er at man alltid skal starte med den stÃ¸rste tabellen ved en merge av ytelsesgrunner. Forskjellen pÃ¥ type joins kan man lese mer om [her](https://stackoverflow.com/questions/5706437/whats-the-difference-between-inner-join-left-join-right-join-and-full-join).

In [ ]:
# DIN KODE HER

In [ ]:
#@title LÃ¸sningsforslag
df_merged = df_bysykkel.merge(df_weather, left_on="trip_date", right_on="date", how="left")
df_merged.head()

### **Oppgave 6.5**
Om vi sjekker typene til kolonnene med vÃ¦rdata (ved bruk av `df_merged.dtypes` igjen) ser vi at verdiene i disse kolonnene er strenger. Det gjÃ¸r det ikke mulig for oss Ã¥ aggregere verdiene, sÃ¥ vi er nÃ¸dt til Ã¥ fÃ¥ de over pÃ¥ tallformat.

Kodesnutten under forsÃ¸ker Ã¥ gjÃ¸re om verdiene pÃ¥ temperatur og nedbÃ¸rsmengde til typen `float`. Hvorfor fungerer det ikke Ã¥ gjÃ¸re om kolonnen direkte?

In [ ]:
df_merged["mean_temperature"] = df_merged["mean_temperature"].astype('float')
df_merged["precipitation_amount"] = df_merged["precipitation_amount"].astype('float')

In [ ]:
#@title LÃ¸sningsforslag
"""
Kolonnen ser tilsynelatende ut til Ã¥ kun bestÃ¥ av tall. Hvis vi derimot inspiserer
verdiene nÃ¦rmere, ser vi at noen ganger forekommer strengen "NULL" som ikke er et tall.
Pandas fÃ¥r derfor ikke til Ã¥ gjÃ¸re om datatypen fÃ¸r vi gjÃ¸r noe med dette.
"""

### **Oppgave 6.6**
Endre datatypen pÃ¥ nedbÃ¸rskolonnen og temperaturkolonnen slik at det blir desimaltall.

> **Hint**: Vi er nÃ¸dt til Ã¥ fjerne `NULL`-verdiene vi oppdaget i forrige oppgave. Bruk `replace`-funksjonen til dette ved Ã¥ sette en tom verdi, som i Python-verdenen heter `None`. Kan du tenke deg hvorfor vi bruker en tom verdi istedenfor eksempelvis 0 her?

In [ ]:
# DIN KODE HER

In [ ]:
#@title LÃ¸sningsforslag
df_merged["mean_temperature"] = df_merged["mean_temperature"].replace({'NULL': None}).astype('float')
df_merged["precipitation_amount"] = df_merged["precipitation_amount"].replace({'NULL': None}).astype('float')

"""
Vi kunne teknisk sett gjort om NULL til 0, men dette ville fÃ¥tt betydning for
statistiske verdier som gjennomsnitt og lignende. Hvordan man hÃ¥ndterer NULL-verdier
avhenger av bruksomrÃ¥det og krever ofte dypere forstÃ¥else av domenet man jobber med.
"""

### **Oppgave 6.7**

Rydd opp ved Ã¥ fjerne hjelpekolonnen fra `df_merged`

> **Hint**: `drop`-funksjonen kan komme godt med her ðŸ—‘

In [ ]:
# DIN KODE HER

In [ ]:
#@title LÃ¸sningsforslag
df_merged = df_merged.drop(columns="trip_date")
df_merged.head()



Vi har nÃ¥ et utvidet datasett! ðŸŽ‰ðŸ¥‚ðŸŽŠ


Vanligvis ville vi ha skrevet datasettet tilbake til BigQuery, men det gjÃ¸r vi ikke i denne workshopen (det tar lang tid, vi har mye dataðŸ˜´)

Pandas har en ganske snedig funksjon som kan gjÃ¸re dette!

```df_merged.to_gbq("bysykkel_main.bysykkel_med_vÃ¦rdata", project_id="data-intro")```

NÃ¥r vi skriver til BigQuery, vil datatypene i dataframen fÃ¸lge med og sette riktig skjema i BigQuery